#main_container
{
    width: 100vw;
}


.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.underline {
    text-align: center;
    text-decoration: underline;
}

/*body {
    padding: 10%;
    padding-top: 0;
}
*/
body {
    margin: 0;
    /*padding: 10px;*/
    /*min-height: 100%;*/
    width: 100%;
}

#detail_div{
    border:1px solid #ebebe0;;
}

.div_outline {
   
}

div#side_bar{
     border: 1px solid #ebebe0;
    float:left;
    width :400px;
    height: 1000px;
    /*padding: 0 20px;*/
    /*width:25%;*/
}
div#middle_container{
     /*position:relative;*/
     border: 1px solid #ebebe0;
    /*height: 1000px;*/
    /*float:right;*/
    /*width : 75%;*/
    margin-left: 400px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-weight: 2;
    font-size: 12px;
}

.tick line {
    opacity: 0.15; 
    shape-rendering: crispEdges;
    z: 0;
}


.header-font {
/* Embed this font from Google Fonts at
https://www.google.com/fonts/specimen/Monda */ 
    background-color: #fff;
    /*color: #444;*/
    font-family: cursive;
    font-feature-settings: "'liga' 1";
    font-kerning: auto;
    line-height: 1.5em;
}


path { 
    stroke: white;
    stroke-width: 1.5;
    fill: none;
}

ul.menu {
/*    display: block;
    margin: 0 auto;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;



}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.buttons{
    background-color: #4CAF50; /* Green */
    border: none;
    margin:0px 0px 10px px;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
}

.buttons:hover{
    background-color: #111;
}

div#search_div{
     margin: 10px;

}


input[type=text] {
/*    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;*/
    font-style: italic;
    font-size: 10px; 

}

main_heading_div{
    padding:10px;
}

h2{
    text-align: center;

}
